body {
    background-color: #f8f9fa;
}

.navbar {
    background: linear-gradient(to right, #1E3C72, #2A5298);
    color: white;
}

.navbar .nav-link {
    color: white; /* Cambiar el color del texto de los enlaces de navegación a blanco */
}

.container {
    margin-top: 20px;
    padding-left: 15px; /* Margen de 15px a la izquierda */
    padding-right: 15px; /* Margen de 15px a la derecha */
}

.drawer {
    position: fixed;
    top: 56px; /* Altura del navbar */
    left: -250px; /* Inicialmente oculto */
    width: 250px;
    height: 100%;
    background: #343a40; /* Fondo oscuro */
    transition: left 0.3s ease;
    z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
}

.drawer.open {
    left: 0; /* Mostrar el drawer */
}

.drawer ul {
    padding: 20px;
    list-style: none;
}

.drawer ul li {
    color: white;
    padding: 10px 0;
}

.chart-container {
    width: 100%; /* Ajustar el gráfico al contenedor */
    height: 400px; /* Altura del gráfico */
}

.table {
    margin-top: 20px;
}
